@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8edd4;
    width: 1090px;
    margin: 20px auto 0 auto;
    color: #21201c;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.Header img {
    width: 145px;
    padding: 8px 8px 8px 0;
}

.Header nav ul {
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
}

.Header nav ul li {
    display: inline-block;
    margin-left: 50px;
}

.Header nav ul li:first-child {
    margin-left: 0;
}

.Header nav ul li a {
    text-decoration: none;
    color: #21201c;
}

.logged-in {
    display: flex;
    height: 70vh;
}

.not-logged-in {
    margin-top: 50px;
}

.not-logged-in h1 {
    font-family: "EB Garamond", serif;
    font-weight: normal;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.not-logged-in h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

.nickname-field {
    position: relative;
    margin: 0 auto 40px auto;
    width: 260px;
}

.nickname-field input {
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-bottom: 2px solid #d9c2ab;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 10px 0 8px 44px;
    margin: 0 auto;
    display: block;
    color: #7d5024;
}

.nickname-field input:focus {
    border-bottom-color: #e6801c;
}

.nickname-field img.feather {
    width: 28px;
    position: absolute;
    left: 0;
    top: 8px;
}

button.join-document {
    border: 0;
    background: #e6801c;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 56px;
    border-radius: 4px;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

button.join-document:hover {
    background: #f3881f;
}

button.join-document:disabled {
    cursor: default;
    background: #9e9e9e;
}

.loading-spinner {
    width: 40px;
    margin: 30px auto 0 auto;
    display: block;
}

.DocumentContent {
    font-family: "EB Garamond", serif;
    width: 70%;
    margin-right: 40px;
}

.DocumentContent .heading {
    margin-bottom: 30px;
}

.DocumentContent h1 {
    font-weight: 400;
    font-size: 36px;
}

.DocumentContent .last-edited {
    font-size: 14px;
    color: #6d6a63;
}

.UsersList {
    font-family: "Open Sans", sans-serif;
    border-left: 2px solid #dad1bb;
    padding-left: 30px;
    margin-top: 92px;
}

.UsersList .heading {
    margin: 6px 0 30px 0;
}

.UsersList .who-else {
    font-weight: 600;
    padding-right: 10px;
}

.UsersList .users-count {
    color: #6d6a63;
}

.UsersList .user {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.user .user_color {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 16px;
}

.user .user_nickname.just-you {
    color: #848077;
}

.TextEditor {
    height: 100%;
}

.TextEditor textarea {
    background: transparent;
    border: 0;
    width: 100%;
    height: 400px;
    font-family: inherit;
    font-size: 18px;
    resize: none;
}